@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Indie+Flower');

body{
  font-family: 'Bubbler One', sans-serif;
  margin: 0 0;
  padding: 0 0;
}

h1{
  font-family: 'Indie Flower', cursive;
  color: white;
  margin-bottom: 8%;
  margin-top:0;
  padding-top: 4%;
  font-size: 3.6em;
  width: 100%;
}
.container{
  text-align: center;
  background-image: url("bg.jpg");
  background-size: cover;
  margin-top:0;
  padding-top:0;
  height: 700px;
}
.list{
  height: 1200px;
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  /*display: flex;
  flex-flow: row wrap;*/
}
.ajoutPlat, .ajoutMenu, .choixPlat{
  background-color: white;
  width: 30%;
  /*height: 70%;*/
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}
.ajoutPlat input, .ajoutMenu input, .choixPlat input[type=submit]{
  margin-bottom: 4%;
  margin-top: 2%;
  width: 90%;
}
input[type=text]:focus {
    border: 3px solid #555;
}
input[type=submit] {
    background-color: #6F6678;
    border-radius: 5px 5px;
    color:white;
    padding: 3% 0;
    font-family: 'Bubbler One', sans-serif;
    font-size: 1.5em;
}

.envoiOk, .listePlat{
  background-color: white;
  width: 45%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  border-radius: 2px;
}

.textEnvoiOk{
  font-size: 1.5em;
  margin-bottom: 10%;
}

a{
  width: auto;
  padding:2%;
  margin-top: 5%;
  background-color: #6F6678;
  border: 1px solid #5D505A;
  box-shadow: grey 2px 2px 2px;
  border-radius: 5px 5px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

.listePlat{
  width: 27%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top:5px;
  padding-bottom: 5px;
  padding-top:0;
  border: 1px solid #C4B4D4;
}
.resultat, .choixPlat{
    display: flex;
    flex-flow: row wrap;
}
.choixPlat{
  width: 80%;
}
.btnMenu{
  width: 100%;
  margin-top: 10%;
}
.btnChoixMenu{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
img{
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.btnmodif{
  width: 80%;
  padding: 2%;
  margin: 5px auto;
}
