@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Indie+Flower');

body{
  font-family: 'Bubbler One', sans-serif;
  margin: 0 0;
  padding: 0 0;
}

h1{
  font-family: 'Indie Flower', cursive;
  color: white;
  margin-bottom: 8%;
  margin-top:0;
  padding-top: 4%;
  font-size: 3.6em;
  width: 100%;
}
.container{
  text-align: center;
  background-image: url("bg.jpg");
  background-size: cover;
  margin-top:0;
  padding-top:0;
  height: 700px;
}
.home, .home:hover{
  float: left;
  background: none;
  border: none;
  box-shadow: none;
}
.list{
  height: 1200px;
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  /*display: flex;
  flex-flow: row wrap;*/
}
.ajoutPlat, .ajoutMenu, .choixPlat, .accueil{
  background-color: white;
  width: 30%;
  /*height: 70%;*/
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}
.ajoutPlat input, .ajoutMenu input, .choixPlat input[type=submit]{
  margin-bottom: 4%;
  margin-top: 2%;
  width: 90%;
}
input[type=text]:focus {
    border: 3px solid #555;
}
input[type=submit] {
    background-color: #6F6678;
    border-radius: 5px 5px;
    color:white;
    padding: 3% 0;
    font-family: 'Bubbler One', sans-serif;
    font-size: 1.5em;
}

.envoiOk, .listePlat{
  background-color: white;
  width: 45%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  border-radius: 2px;
}

.textEnvoiOk{
  font-size: 1.5em;
  margin-bottom: 10%;
}

a{
  width: auto;
  padding:2%;
  margin-top: 5%;
  background-color: #6F6678;
  border: 1px solid #5D505A;
  box-shadow: grey 2px 2px 2px;
  border-radius: 5px 5px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}
a:hover{
  box-shadow: grey 4px 4px 4px;
  /*background-color: #978BA3;*/

background-color: #472632;
}

.accueil {
  display: flex;
  justify-content: space-between;
  flex-flow: raw wrap;
  align-items: center;
  margin-top: -46px;
}
.boxLireCarte, .boxEnrichirCarte{
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  align-items: center;
}

/*.boxLireCarte{
  border-right: 1px grey solid;
}*/

.accueil a {
  margin-bottom: 15px;
  padding-top: 26px;
  margin-top: 35px;
  width: 280px;
  height: 49px;
}

.listePlat{
  width: 27%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top:5px;
  padding-bottom: 5px;
  padding-top:0;
  border: 1px solid #C4B4D4;
}
.resultat, .choixPlat{
    display: flex;
    flex-flow: row wrap;
}
.choixPlat{
  width: 80%;
}
.btnMenu{
  width: 100%;
  margin-top: 10%;
}
.btnChoixMenu{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
img{
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.btnmodif{
  width: 80%;
  padding: 2%;
  margin: 5px auto;
}

@media screen and (min-width : 1000px) {
  .accueil {
    width: 80%;
    flex-flow: raw wrap;
  }
  .boxLireCarte, .boxEnrichirCarte{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-items: center;
  }
}

 /*CSS pour écran - de 900 px de large*/
@media screen and (max-width : 999px) {

  .ajoutPlat, .ajoutMenu, .choixPlat, .accueil{
    width: 70%;
    flex-flow: column wrap;
  }

  .boxLireCarte, .boxEnrichirCarte{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-items: center;
  }

}

/*CSS pour écran - de 768 px de large*/
@media screen and (max-width : 768px) {

  .listePlat{
    width: 41%;
  }

  .ajoutPlat, .ajoutMenu, .choixPlat, .accueil {
    width: 75%;
  }

  h1 {
    font-size: 3.3em;
  }
  .envoiOk, .listePlat {
    background-color: white;
    width: 75%;
  }
}

/*CSS pour écran - de 500 px de large*/
@media screen and (max-width : 768px) {
  h1{
    margin-bottom: 15%;
  }
  p{
    font-size: 1.8em;
  }
}

/*CSS pour écran - de 500 px de large*/
@media screen and (max-width : 768px) {
  h1{
    margin-bottom: 15%;
  }
  p{
    font-size: 1.8em;
  }
}

/*CSS pour écran - de 380 px de large*/
@media screen and (max-width : 380px) {
  h1{
    margin-bottom: 18%;
    font-size: 2.5em;
  }
  .ajoutPlat, .ajoutMenu, .choixPlat, .accueil {
    width: 85%;
  }
}

/*CSS pour écran - de 340 px de large*/
@media screen and (max-width : 340px) {
  .accueil a {
      width: 220px;
  }
  h1{
    font-size: 2.1em;
    margin-bottom: 25%;
  }
}

/*CSS pour écran - de 280 px de large*/
@media screen and (max-width : 280px) {
  .accueil a {
      width: 200px;
  }
}
